/* Общие стили */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
}

/* Стили для хедера */
header {
  background-color: #fff;
  padding: 1em;
  text-align: center;
  border-bottom: 1px solid #eee;
}

header h1 {
  margin: 0;
  font-family: 'Crete Round', serif;
  font-weight: normal;
  font-size: 2em;
  color: #e44d26; /* Оранжевый цвет для заголовка */
}

header p {
  font-size: 0.9em;
  color: #777;
}

/* Стили для навигации в хедере */
header nav {
  display: flex;
  justify-content: center; /* Центрируем кнопки по горизонтали */
  margin-bottom: 1em; /* Добавляем отступ снизу */
}

header nav a {
  display: inline-block;
  background-color: #f0f0f0;
  border: 1px solid #ccc; /* Серая обводка */
  border-radius: 20px; /* Скругленные углы */
  padding: 0.5em 1em;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  transition: background-color 0.3s ease; /* Плавный переход цвета */
  text-decoration: none; /* Убираем подчеркивание */
  color: #333; /* Задаем цвет текста */
  margin: 0 0.5em; /* Добавляем отступы между кнопками */
}

header nav a:hover,
header nav a:active {
  background-color: #fddede; /* Светло-красный цвет при наведении/нажатии */
}

/* Стили для основного контента */
main {
  padding: 2em;
}

#content {
  text-align: center;
}

#content h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

#content p {
  font-size: 1.1em;
  line-height: 1.5;
  margin-bottom: 1em;
}

/* Стили для кнопки в основном контенте */
#content button {
  background-color: #f0f0f0;
  border: 1px solid #ccc; /* Серая обводка */
  border-radius: 20px; /* Скругленные углы */
  padding: 0.5em 1em;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  transition: background-color 0.3s ease; /* Плавный переход цвета */
}

#content button:hover {
  background-color: #e0e0e0;
}

/* Стили для футера */
footer {
  background-color: #f0f0f0;
  padding: 1em;
  text-align: center;
  border-top: 1px solid #eee;
  font-size: 0.8em;
  color: #777;
}
